#registration-one .input-group{
    display: inline-block;
    width: 100%;
}
#registration-one .input-group label{
    font-weight: bold;
    font-size: 1.8rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#registration-one .label_entity{
    margin-bottom: 2rem;
}
.width-register .form-group label{
    padding: 1.2rem 0;
}
.row-back{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#registration-one .input-group .radio{
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
#registration-one .input-group .radio:hover{
    background-color: #f6e5af;
}
#registration-one .input-group .radio .radio-label{
    padding: 10px;
}
#options-column{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#options-column .form-group {
    padding: 0 0.5rem;
}
#option-number{
    width: 100%;
}