
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#registration-one .input-group{
    display: inline-block;
    width: 100%;
}
#registration-one .input-group label{
    font-weight: bold;
    font-size: 1.8rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#registration-one .label_entity{
    margin-bottom: 2rem;
}
.width-register .form-group label{
    padding: 1.2rem 0;
}
.row-back{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#registration-one .input-group .radio{
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
#registration-one .input-group .radio:hover{
    background-color: #f6e5af;
}
#registration-one .input-group .radio .radio-label{
    padding: 10px;
}
#options-column{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#options-column .form-group {
    padding: 0 0.5rem;
}
#option-number{
    width: 100%;
}
.tool-box{
    display: block;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 20px 0 #E4E4E4;
    border-radius: 10px;
}
.tool-box .tool-title{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    font-weight: bold;
}
.panel-proikos{
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    display: inline-block;
    width: 100%;
}
.panel-proikos h3{
    font-weight: bold;
}
/***** report ***/

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row.flex-container {
    display: flex;
    justify-content: center;
}

.col.flex-item {
    flex: 1;
    margin: 10px;
    text-align: center;
}
.title{
    color: #575556;
    font-weight: 800;
    font-family: 'Gabarito', sans-serif;
}
[class^=circle-bar-progress]>svg, [class*=" circle-bar-progress"]>svg {
    width: 200px;
    height: 200px;
}
[class^=circle-bar-exam]>svg, [class*=" circle-bar-exam"]>svg {
    width: 150px;
    height: 150px;
}
#circle_approved .circle-progress-value {
    stroke-width: 20px;
    stroke: hsl(195, 100%, 44%);
}
#circle_approved .circle-progress-circle {
    stroke-width: 20px;
    stroke: hsl(0, 0%, 85%);
}
#circle_approved .circle-progress-text {
    fill: hsl(195, 100%, 44%);
    font-weight: 800;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.8rem;
}

#circle_disapproved .circle-progress-value {
    stroke-width: 20px;
    stroke: hsl(0, 85%, 45%);
}
#circle_disapproved .circle-progress-circle {
    stroke-width: 20px;
    stroke: hsl(0, 0%, 85%);
}
#circle_disapproved .circle-progress-text {
    fill: hsl(0, 85%, 45%);
    font-weight: 800;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.8rem;
}
#exam_one .circle-progress-value {
    stroke-width: 10px;
    stroke: hsl(37, 100%, 48%);
    stroke-dasharray: 11 2;
}
#exam_one .circle-progress-circle {
    stroke-width: 10px;
    stroke: #FFF;
}
#exam_one .circle-progress-text {
    font-weight: bold;
    fill: hsl(37, 100%, 48%);
    font-family: 'Gabarito', sans-serif;
    font-size: 2.2rem;
}
#exam_two .circle-progress-value {
    stroke-width: 10px;
    stroke: #00a7df;
    stroke-dasharray: 11 2;
}
#exam_two .circle-progress-circle {
    stroke-width: 10px;
    stroke: #FFF;
}
#exam_two .circle-progress-text {
    font-weight: bold;
    fill: #00a7df;
    font-family: 'Gabarito', sans-serif;
    font-size: 2.2rem;
}
.ui-progress-bar {
    position: relative;
    height: 22px;
    padding-right: 2px;
    background-color: #FFF;
    border: 1px solid #cdcd;
}

.ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 20px;
    background-color: #d41111;
    border: 1px solid #d41111;
    -webkit-animation: animate-stripes 2s linear infinite;
}

.ui-progress span.ui-label {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    line-height: 20px;
    padding-right: 12px;
    color: rgba(0,0,0,0.6);
    text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
    white-space: nowrap;
}
.counter {
    display: table-cell;
    margin:1.5%;
    font-size:50px;
    border-radius: 50%;
    vertical-align: middle;
}